Vấn đề 1: Thiếu dòng tiêu đề trong file CSV

In [1]:
import pandas as pd
import numpy as np
column_names = ["Id", "Name", "Age", "Weight", "m0006", "m621", "m1218", "f0006", "f0612", "f1218"]
df = pd.read_csv("patient_heart_rate.csv", names=column_names, header=0, on_bad_lines='skip')
print(df.head())

    Id            Name   Age      Weight m0006 m621 m1218 f0006 f0612 f1218
0  2.0     Donald Duck  34.0   154.89lbs     -    -     -    85    84    76
1  3.0      Mini Mouse  16.0         NaN     -    -     -    65    69    72
2  4.0  Scrooge McDuck   NaN       78kgs    78   79    72     -     -     -
3  5.0    Pink Panther  54.0  198.658lbs     -    -     -    69   NaN    75
4  6.0     Huey McDuck  52.0      189lbs     -    -     -    68    75    72

Vấn đề 2: Một cột chứa nhiều dữ liệu không đồng nhất

In [4]:
df[['Firstname', 'Lastname']] = df['Name'].str.split(expand=True)
df = df.drop('Name', axis=1)
print(df)

      Id   Age      Weight m0006 m621 m1218 f0006 f0612 f1218 Firstname  \
0    2.0  34.0   154.89lbs     -    -     -    85    84    76    Donald
1    3.0  16.0         NaN     -    -     -    65    69    72      Mini
2    4.0   NaN       78kgs    78   79    72     -     -     -   Scrooge
3    5.0  54.0  198.658lbs     -    -     -    69   NaN    75      Pink
4    6.0  52.0      189lbs     -    -     -    68    75    72      Huey
5    7.0  19.0       56kgs     -    -     -    71    78    75     Dewey
6    8.0  32.0       78kgs    78   76    75     -     -     -    Scööpy
7    NaN   NaN         NaN   NaN  NaN   NaN   NaN   NaN   NaN       NaN
8    NaN   NaN         NaN   NaN  NaN   NaN   NaN   NaN   NaN       NaN
9    9.0  52.0      189lbs     -    -     -    68    75    72      Huey
10  10.0  12.0       45kgs     -    -     -    92    95    87     Louie
11  11.0   NaN       60kgs    78   75    72     -     -     -     Henry
12  12.0  34.0         NaN    65   67    55     -     -     -    Michel
13  13.0   NaN         NaN     -    -     -    68    72    70      Tana
14  15.0  52.0      180lbs     -    -     -    68    75    72       NaN

   Lastname
0      Duck
1     Mouse
2    McDuck
3   Panther
4    McDuck
5    McDuck
6       Doo
7       NaN
8       NaN
9    McDuck
10   McDuck
11      Nam
12     Long
13    Ricky
14      NaN

Vấn đề 3: Đơn vị đo lường không đồng nhất

In [5]:
weight = df['Weight']

for i in range(0, len(weight)):  
    x = str(weight[i])  
    if "lbs" in x[-3:]:  
        x = x[:-3]  
        x = float(x) * 0.453592  # Chuyển đổi từ lbs sang kg  
        weight[i] = str(int(x)) + "kgs"  

print(df)

      Id   Age Weight m0006 m621 m1218 f0006 f0612 f1218 Firstname Lastname
0    2.0  34.0  70kgs     -    -     -    85    84    76    Donald     Duck
1    3.0  16.0    NaN     -    -     -    65    69    72      Mini    Mouse
2    4.0   NaN  78kgs    78   79    72     -     -     -   Scrooge   McDuck
3    5.0  54.0  90kgs     -    -     -    69   NaN    75      Pink  Panther
4    6.0  52.0  85kgs     -    -     -    68    75    72      Huey   McDuck
5    7.0  19.0  56kgs     -    -     -    71    78    75     Dewey   McDuck
6    8.0  32.0  78kgs    78   76    75     -     -     -    Scööpy      Doo
7    NaN   NaN    NaN   NaN  NaN   NaN   NaN   NaN   NaN       NaN      NaN
8    NaN   NaN    NaN   NaN  NaN   NaN   NaN   NaN   NaN       NaN      NaN
9    9.0  52.0  85kgs     -    -     -    68    75    72      Huey   McDuck
10  10.0  12.0  45kgs     -    -     -    92    95    87     Louie   McDuck
11  11.0   NaN  60kgs    78   75    72     -     -     -     Henry      Nam
12  12.0  34.0    NaN    65   67    55     -     -     -    Michel     Long
13  13.0   NaN    NaN     -    -     -    68    72    70      Tana    Ricky
14  15.0  52.0  81kgs     -    -     -    68    75    72       NaN      NaN

C:\Users\phat1\AppData\Local\Temp\ipykernel_21916\2972085460.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weight[i] = str(int(x)) + "kgs"
C:\Users\phat1\AppData\Local\Temp\ipykernel_21916\2972085460.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weight[i] = str(int(x)) + "kgs"
C:\Users\phat1\AppData\Local\Temp\ipykernel_21916\2972085460.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weight[i] = str(int(x)) + "kgs"
C:\Users\phat1\AppData\Local\Temp\ipykernel_21916\2972085460.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weight[i] = str(int(x)) + "kgs"
C:\Users\phat1\AppData\Local\Temp\ipykernel_21916\2972085460.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weight[i] = str(int(x)) + "kgs"

 Vấn đề 4: Loại bỏ dòng trống

In [2]:
df.dropna(how="all", inplace=True)
print(df)

      Id            Name   Age      Weight m0006 m621 m1218 f0006 f0612 f1218
0    2.0     Donald Duck  34.0   154.89lbs     -    -     -    85    84    76
1    3.0      Mini Mouse  16.0         NaN     -    -     -    65    69    72
2    4.0  Scrooge McDuck   NaN       78kgs    78   79    72     -     -     -
3    5.0    Pink Panther  54.0  198.658lbs     -    -     -    69   NaN    75
4    6.0     Huey McDuck  52.0      189lbs     -    -     -    68    75    72
5    7.0    Dewey McDuck  19.0       56kgs     -    -     -    71    78    75
6    8.0      Scööpy Doo  32.0       78kgs    78   76    75     -     -     -
9    9.0     Huey McDuck  52.0      189lbs     -    -     -    68    75    72
10  10.0    Louie McDuck  12.0       45kgs     -    -     -    92    95    87
11  11.0       Henry Nam   NaN       60kgs    78   75    72     -     -     -
12  12.0     Michel Long  34.0         NaN    65   67    55     -     -     -
13  13.0      Tana Ricky   NaN         NaN     -    -     -    68    72    70
14  15.0             NaN  52.0      180lbs     -    -     -    68    75    72

Vấn đề 5: Loại bỏ dữ liệu trùng lặp

In [7]:
df.drop_duplicates(subset=['Firstname', 'Lastname', 'Age', 'Weight'])

      Id   Age Weight m0006 m621 m1218 f0006 f0612 f1218 Firstname Lastname
0    2.0  34.0  70kgs     -    -     -    85    84    76    Donald     Duck
1    3.0  16.0    NaN     -    -     -    65    69    72      Mini    Mouse
2    4.0   NaN  78kgs    78   79    72     -     -     -   Scrooge   McDuck
3    5.0  54.0  90kgs     -    -     -    69   NaN    75      Pink  Panther
4    6.0  52.0  85kgs     -    -     -    68    75    72      Huey   McDuck
5    7.0  19.0  56kgs     -    -     -    71    78    75     Dewey   McDuck
6    8.0  32.0  78kgs    78   76    75     -     -     -    Scööpy      Doo
10  10.0  12.0  45kgs     -    -     -    92    95    87     Louie   McDuck
11  11.0   NaN  60kgs    78   75    72     -     -     -     Henry      Nam
12  12.0  34.0    NaN    65   67    55     -     -     -    Michel     Long
13  13.0   NaN    NaN     -    -     -    68    72    70      Tana    Ricky
14  15.0  52.0  81kgs     -    -     -    68    75    72       NaN      NaN

Vấn đề 6: Loại bỏ ký tự không phải ASCII

In [8]:
df.Firstname.replace(r'[^\x00-\x7F]+', '', regex=True, inplace=True)
df.Lastname.replace(r'[^\x00-\x7F]+', '', regex=True, inplace=True)
print(df)

      Id   Age Weight m0006 m621 m1218 f0006 f0612 f1218 Firstname Lastname
0    2.0  34.0  70kgs     -    -     -    85    84    76    Donald     Duck
1    3.0  16.0    NaN     -    -     -    65    69    72      Mini    Mouse
2    4.0   NaN  78kgs    78   79    72     -     -     -   Scrooge   McDuck
3    5.0  54.0  90kgs     -    -     -    69   NaN    75      Pink  Panther
4    6.0  52.0  85kgs     -    -     -    68    75    72      Huey   McDuck
5    7.0  19.0  56kgs     -    -     -    71    78    75     Dewey   McDuck
6    8.0  32.0  78kgs    78   76    75     -     -     -      Scpy      Doo
9    9.0  52.0  85kgs     -    -     -    68    75    72      Huey   McDuck
10  10.0  12.0  45kgs     -    -     -    92    95    87     Louie   McDuck
11  11.0   NaN  60kgs    78   75    72     -     -     -     Henry      Nam
12  12.0  34.0    NaN    65   67    55     -     -     -    Michel     Long
13  13.0   NaN    NaN     -    -     -    68    72    70      Tana    Ricky
14  15.0  52.0  81kgs     -    -     -    68    75    72       NaN      NaN

C:\Users\phat1\AppData\Local\Temp\ipykernel_21916\2872603280.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.Firstname.replace(r'[^\x00-\x7F]+', '', regex=True, inplace=True)
C:\Users\phat1\AppData\Local\Temp\ipykernel_21916\2872603280.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.Lastname.replace(r'[^\x00-\x7F]+', '', regex=True, inplace=True)

Vấn đề 7: Thay thế giá trị bị thiếu bằng giá trị ngẫu nhiên từ cùng một cột

In [9]:
df["Age"].fillna(np.random.randint(20, 60), inplace=True)
df["Weight"].fillna(round(np.random.uniform(50, 90), 2), inplace=True)
df

C:\Users\phat1\AppData\Local\Temp\ipykernel_21916\2659399337.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Age"].fillna(np.random.randint(20, 60), inplace=True)
C:\Users\phat1\AppData\Local\Temp\ipykernel_21916\2659399337.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Weight"].fillna(round(np.random.uniform(50, 90), 2), inplace=True)

      Id   Age Weight m0006 m621 m1218 f0006 f0612 f1218 Firstname Lastname
0    2.0  34.0  70kgs     -    -     -    85    84    76    Donald     Duck
1    3.0  16.0   68.1     -    -     -    65    69    72      Mini    Mouse
2    4.0  22.0  78kgs    78   79    72     -     -     -   Scrooge   McDuck
3    5.0  54.0  90kgs     -    -     -    69   NaN    75      Pink  Panther
4    6.0  52.0  85kgs     -    -     -    68    75    72      Huey   McDuck
5    7.0  19.0  56kgs     -    -     -    71    78    75     Dewey   McDuck
6    8.0  32.0  78kgs    78   76    75     -     -     -      Scpy      Doo
9    9.0  52.0  85kgs     -    -     -    68    75    72      Huey   McDuck
10  10.0  12.0  45kgs     -    -     -    92    95    87     Louie   McDuck
11  11.0  22.0  60kgs    78   75    72     -     -     -     Henry      Nam
12  12.0  34.0   68.1    65   67    55     -     -     -    Michel     Long
13  13.0  22.0   68.1     -    -     -    68    72    70      Tana    Ricky
14  15.0  52.0  81kgs     -    -     -    68    75    72       NaN      NaN

Vấn đề 8: Xử lý cột có nhiều thông tin phức tạp

In [10]:
# Melt the Sex + time range columns in single column
df = pd.melt(df, id_vars=['Id', 'Age', 'Weight', 'Firstname', 'Lastname'], 
             value_name="PulseRate", var_name="sex_and_time").sort_values(['Id', 'Age', 'Weight', 'Firstname', 'Lastname'])

# Extract Sex, Hour lower bound and Hour upper bound group
tmp_df = df["sex_and_time"].str.extract(r"(\D)(\d+)(\d{2})", expand=True)

# Name columns
tmp_df.columns = ["Sex", "hours_lower", "hours_upper"]

# Create Time column based on "hours_lower" and "hours_upper" columns
tmp_df["Time"] = tmp_df["hours_lower"] + "-" + tmp_df["hours_upper"]

# Merge
df = pd.concat([df, tmp_df], axis=1)

# Drop unnecessary columns and rows
df = df.drop(["sex_and_time", "hours_lower", "hours_upper"], axis=1)
df = df.dropna()

# Xuất dữ liệu đã làm sạch
df.to_csv("outputcleanup.csv", index=False)

print(df)

      Id   Age Weight Firstname Lastname PulseRate Sex   Time
0    2.0  34.0  70kgs    Donald     Duck         -   m  00-06
13   2.0  34.0  70kgs    Donald     Duck         -   m   6-21
26   2.0  34.0  70kgs    Donald     Duck         -   m  12-18
39   2.0  34.0  70kgs    Donald     Duck        85   f  00-06
52   2.0  34.0  70kgs    Donald     Duck        84   f  06-12
..   ...   ...    ...       ...      ...       ...  ..    ...
24  13.0  22.0   68.1      Tana    Ricky         -   m   6-21
37  13.0  22.0   68.1      Tana    Ricky         -   m  12-18
50  13.0  22.0   68.1      Tana    Ricky        68   f  00-06
63  13.0  22.0   68.1      Tana    Ricky        72   f  06-12
76  13.0  22.0   68.1      Tana    Ricky        70   f  12-18

[71 rows x 8 columns]

11. Hãy khảo sát tỉ lệ dữ liệu thiếu trên biến huyết áp.

In [13]:


# Tính tỉ lệ dữ liệu thiếu
missing_rate = df['blood_pressure'].isnull().sum() / len(df)
print(f"Tỉ lệ dữ liệu thiếu trên biến huyết áp: {missing_rate:.2%}")

def fill_missing_blood_pressure(df):
    
    for index, row in df.iterrows():
        if pd.isnull(row['blood_pressure']):
            patient_id = row['patient_id']
            gender = row['gender']
            patient_data = df[df['patient_id'] == patient_id]['blood_pressure']

            # 1. Thay thế bằng giá trị trung bình liền trước và liền sau
            prev_val = np.nan
            next_val = np.nan

            if index > 0:
                prev_row = df.iloc[index - 1]
                if prev_row['patient_id'] == patient_id:
                    prev_val = prev_row['blood_pressure']

            if index < len(df) - 1:
                next_row = df.iloc[index + 1]
                if next_row['patient_id'] == patient_id:
                    next_val = next_row['blood_pressure']

            if pd.notnull(prev_val) and pd.notnull(next_val):
                df.loc[index, 'blood_pressure'] = (prev_val + next_val) / 2
                continue

            # 2. Thay thế bằng giá trị trung bình 2 giá liền trước
            prev_2_vals = []
            if index > 1:
                prev_2_rows = df.iloc[index - 2:index]
                if (prev_2_rows['patient_id'] == patient_id).all():
                    prev_2_vals = prev_2_rows['blood_pressure'].values
            if len(prev_2_vals) == 2 and pd.notnull(prev_2_vals).all():
                df.loc[index, 'blood_pressure'] = np.nanmean(prev_2_vals)
                continue

            # 3. Thay thế bằng giá trị trung bình 2 giá liền sau
            next_2_vals = []
            if index < len(df) - 2:
                next_2_rows = df.iloc[index + 1:index + 3]
                if (next_2_rows['patient_id'] == patient_id).all():
                    next_2_vals = next_2_rows['blood_pressure'].values
            if len(next_2_vals) == 2 and pd.notnull(next_2_vals).all():
                df.loc[index, 'blood_pressure'] = np.nanmean(next_2_vals)
                continue

            # 4. Trung bình của các giá trị huyết áp của người đó
            patient_mean = patient_data.mean()
            if pd.notnull(patient_mean):
                df.loc[index, 'blood_pressure'] = patient_mean
                continue

            # 5. Trung bình của các giá trị huyết áp của nhóm giới tính
            gender_mean = df[df['gender'] == gender]['blood_pressure'].mean()
            if pd.notnull(gender_mean):
                df.loc[index, 'blood_pressure'] = gender_mean
                continue

            # 6. Trung bình của các giá trị dữ liệu
            global_mean = df['blood_pressure'].mean()
            if pd.notnull(global_mean):
                df.loc[index, 'blood_pressure'] = global_mean
                continue

            # 7. Thay bằng mức ổn định trong y học (ví dụ: 120)
            df.loc[index, 'blood_pressure'] = 120

    return df

# Tạo dữ liệu mẫu (thay thế bằng dữ liệu thực tế của bạn)
data = {'patient_id': [1, 1, 1, 2, 2, 3, 3, 3, 4, 4],
        'gender': ['M', 'M', 'M', 'F', 'F', 'M', 'M', 'M', 'F', 'F'],
        'blood_pressure': [120, np.nan, 130, 110, np.nan, 125, np.nan, 135, 115, 120]}
df = pd.DataFrame(data)

# Áp dụng hàm xử lý dữ liệu thiếu
df_filled = fill_missing_blood_pressure(df.copy())
print(df_filled)

Tỉ lệ dữ liệu thiếu trên biến huyết áp: 30.00%
   patient_id gender  blood_pressure
0           1      M           120.0
1           1      M           125.0
2           1      M           130.0
3           2      F           110.0
4           2      F           110.0
5           3      M           125.0
6           3      M           130.0
7           3      M           135.0
8           4      F           115.0
9           4      F           120.0