1. Xác định và phân loại dữ liệu định tính và định lượng

In [1]:
import pandas as pd

# Đọc dữ liệu từ file CSV
data = pd.read_csv("dulieuxettuyendaihoc.csv")

# In ra thông tin về các cột dữ liệu
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 56 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   STT     100 non-null    int64
 1   T1      100 non-null    float64
 2   L1      100 non-null    float64
 3   H1      100 non-null    float64
 4   S1      100 non-null    float64
 5   V1      100 non-null    float64
 6   X1      100 non-null    float64
 7   D1      100 non-null    float64
 8   N1      100 non-null    float64
 9   T2      100 non-null    float64
 10  L2      100 non-null    float64
 11  H2      100 non-null    float64
 12  S2      100 non-null    float64
 13  V2      100 non-null    float64
 14  X2      100 non-null    float64
 15  D2      100 non-null    float64
 16  N2      100 non-null    float64
 17  T3      100 non-null    float64
 18  L3      100 non-null    float64
 19  H3      100 non-null    float64
 20  S3      100 non-null    float64
 21  V3      100 non-null    float64
 22  X3      100 non-null    float64
 23  D3      100 non-null    float64
 24  N3      100 non-null    float64
 25  T4      100 non-null    float64
 26  L4      100 non-null    float64
 27  H4      100 non-null    float64
 28  S4      100 non-null    float64
 29  V4      100 non-null    float64
 30  X4      100 non-null    float64
 31  D4      100 non-null    float64
 32  N4      100 non-null    float64
 33  T5      100 non-null    float64
 34  L5      100 non-null    float64
 35  H5      100 non-null    float64
 36  S5      100 non-null    float64
 37  V5      100 non-null    float64
 38  X5      100 non-null    float64
 39  D5      100 non-null    float64
 40  N5      100 non-null    float64
 41  T6      100 non-null    float64
 42  L6      100 non-null    float64
 43  H6      100 non-null    float64
 44  S6      100 non-null    float64
 45  V6      100 non-null    float64
 46  X6      100 non-null    float64
 47  D6      100 non-null    float64
 48  N6      100 non-null    float64
 49  GT      100 non-null    object
 50  DT      3 non-null      float64
 51  KV      100 non-null    object
 52  DH1     100 non-null    float64
 53  DH2     100 non-null    float64
 54  DH3     100 non-null    float64
 55  KT      100 non-null    object
dtypes: float64(52), int64(1), object(3)
memory usage: 43.9+ KB
None

2. Định nghĩa các thang đo phù hợp cho từng biến số

In [3]:
import pandas as pd

# Đọc dữ liệu từ file CSV
data = pd.read_csv("dulieuxettuyendaihoc.csv")

# In ra thông tin về các cột dữ liệu
print(data.info())

# Ví dụ: Kiểm tra giá trị lớn nhất và nhỏ nhất của cột 'T1'
print(f"Giá trị lớn nhất của cột T1: {data['T1'].max()}")
print(f"Giá trị nhỏ nhất của cột T1: {data['T1'].min()}")

# Ví dụ: Đếm tần số xuất hiện của các giá trị trong cột 'GT'
print(data['GT'].value_counts())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 56 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   STT     100 non-null    int64
 1   T1      100 non-null    float64
 2   L1      100 non-null    float64
 3   H1      100 non-null    float64
 4   S1      100 non-null    float64
 5   V1      100 non-null    float64
 6   X1      100 non-null    float64
 7   D1      100 non-null    float64
 8   N1      100 non-null    float64
 9   T2      100 non-null    float64
 10  L2      100 non-null    float64
 11  H2      100 non-null    float64
 12  S2      100 non-null    float64
 13  V2      100 non-null    float64
 14  X2      100 non-null    float64
 15  D2      100 non-null    float64
 16  N2      100 non-null    float64
 17  T3      100 non-null    float64
 18  L3      100 non-null    float64
 19  H3      100 non-null    float64
 20  S3      100 non-null    float64
 21  V3      100 non-null    float64
 22  X3      100 non-null    float64
 23  D3      100 non-null    float64
 24  N3      100 non-null    float64
 25  T4      100 non-null    float64
 26  L4      100 non-null    float64
 27  H4      100 non-null    float64
 28  S4      100 non-null    float64
 29  V4      100 non-null    float64
 30  X4      100 non-null    float64
 31  D4      100 non-null    float64
 32  N4      100 non-null    float64
 33  T5      100 non-null    float64
 34  L5      100 non-null    float64
 35  H5      100 non-null    float64
 36  S5      100 non-null    float64
 37  V5      100 non-null    float64
 38  X5      100 non-null    float64
 39  D5      100 non-null    float64
 40  N5      100 non-null    float64
 41  T6      100 non-null    float64
 42  L6      100 non-null    float64
 43  H6      100 non-null    float64
 44  S6      100 non-null    float64
 45  V6      100 non-null    float64
 46  X6      100 non-null    float64
 47  D6      100 non-null    float64
 48  N6      100 non-null    float64
 49  GT      100 non-null    object
 50  DT      3 non-null      float64
 51  KV      100 non-null    object
 52  DH1     100 non-null    float64
 53  DH2     100 non-null    float64
 54  DH3     100 non-null    float64
 55  KT      100 non-null    object
dtypes: float64(52), int64(1), object(3)
memory usage: 43.9+ KB
None
Giá trị lớn nhất của cột T1: 9.3
Giá trị nhỏ nhất của cột T1: 2.4
GT
M    52
F    48
Name: count, dtype: int64

3. Sử dụng Python để tải dữ liệu lên chương trình và in ra màn hình 10 dòng đầu tiên và 10 
dòng cuối cùng

In [4]:
import pandas as pd

# Giả sử dữ liệu của bạn được lưu trong file CSV tên là 'dulieuxettuyendaihoc.csv'
data = pd.read_csv('dulieuxettuyendaihoc.csv')

# In 10 dòng đầu tiên
print("10 dòng đầu tiên:")
print(data.head(10))

# In 10 dòng cuối cùng
print("\n10 dòng cuối cùng:")
print(data.tail(10))

10 dòng đầu tiên:
   STT   T1   L1   H1   S1   V1   X1   D1   N1   T2  ...   X6   D6   N6  GT  \
0    1  7.2  7.3  6.3  7.3  7.0  7.9  7.3  5.5  8.4  ...  6.6  7.6  5.9   F
1    2  5.4  3.9  3.9  4.0  5.4  5.4  5.3  2.8  6.3  ...  6.6  6.1  4.4   M
2    3  5.6  6.8  7.2  7.5  4.3  7.4  5.8  3.2  5.0  ...  7.9  8.1  4.6   M
3    4  6.6  6.4  5.3  6.9  5.4  7.3  6.4  5.8  5.1  ...  7.1  7.3  7.4   M
4    5  6.0  5.0  6.0  7.3  6.5  7.7  7.9  6.1  5.4  ...  6.1  7.5  7.2   M
5    6  9.3  7.6  7.9  8.6  7.0  7.3  7.7  7.9  9.6  ...  5.7  8.0  7.8   M
6    7  2.8  3.9  5.5  6.9  5.0  7.3  4.6  5.2  4.4  ...  6.6  6.0  6.0   F
7    8  8.3  6.0  7.6  5.1  7.5  4.7  5.8  7.2  6.7  ...  7.1  6.8  7.0   F
8    9  6.5  6.3  7.6  6.0  5.5  7.1  6.3  5.0  7.3  ...  9.1  7.9  6.1   F
9   10  7.3  5.9  4.7  7.1  6.7  7.9  6.7  7.7  8.0  ...  6.4  6.1  7.8   F

   DT   KV   DH1   DH2   DH3  KT
0 NaN  2NT  3.25  3.25  4.50  A1
1 NaN    1  6.00  4.00  3.50   C
2 NaN    1  5.00  6.75  4.00   C
3 NaN    1  4.25  4.25  5.25  D1
4 NaN  2NT  4.25  4.50  5.00   A
5 NaN    1  1.50  4.00  6.00  D1
6 NaN    2  6.50  6.75  5.25   C
7 NaN    2  3.75  4.50  4.25  D1
8 NaN    1  3.50  3.50  6.75  D1
9 NaN    1  4.00  4.75  5.50  D1

[10 rows x 56 columns]

10 dòng cuối cùng:
    STT   T1   L1   H1   S1   V1   X1   D1   N1   T2  ...   X6   D6   N6  GT  \
90   91  8.1  7.7  9.1  8.5  6.1  8.6  8.8  7.3  8.8  ...  8.3  8.7  7.8   M
91   92  7.8  6.5  6.7  5.4  6.2  4.8  5.9  4.4  8.9  ...  7.2  7.4  7.0   M
92   93  5.0  6.6  6.5  7.2  5.8  6.7  6.4  6.0  6.8  ...  5.9  6.7  5.8   M
93   94  5.2  5.2  6.8  7.9  6.6  8.9  7.6  5.3  6.8  ...  8.7  7.8  5.0   M
94   95  5.8  5.9  7.6  6.1  5.3  8.1  6.1  5.0  6.4  ...  7.3  6.8  5.3   M
95   96  8.6  6.9  7.4  8.8  7.6  5.8  7.3  5.7  8.9  ...  6.3  6.1  6.2   F
96   97  3.7  5.4  6.0  5.1  5.5  3.9  6.1  4.4  4.1  ...  7.9  7.5  4.4   F
97   98  8.8  5.5  7.4  7.7  6.2  7.3  8.1  4.5  9.5  ...  9.6  8.4  5.8   M
98   99  2.7  1.8  3.4  5.3  4.5  7.9  4.9  3.8  2.8  ...  6.6  5.2  5.9   M
99  100  4.1  5.2  4.9  5.3  5.5  5.4  7.2  5.4  4.4  ...  5.6  6.6  5.8   M

    DT   KV   DH1   DH2   DH3  KT
90 NaN    2  6.25  4.00  6.50   A
91 NaN  2NT  4.75  4.75  4.50   A
92 NaN    1  3.25  5.25  4.25   A
93 NaN    1  3.50  4.25  5.00   A
94 NaN    1  4.25  2.50  4.75   A
95 NaN    1  5.25  1.50  6.25   C
96 NaN    1  5.25  3.75  4.75   C
97 NaN  2NT  7.00  8.00  4.00   C
98 NaN    1  5.00  3.50  5.50   C
99 NaN  2NT  5.25  2.50  4.25   C

[10 rows x 56 columns]

4. Thống kê dữ liệu thiếu cho cột dân tộc và hiệu chỉnh dữ liệu thiếu như sau: Mặc định thiếu 
thì điền giá trị 0.

In [5]:
# 1. Thống kê dữ liệu thiếu
print("\nThống kê dữ liệu thiếu cho cột 'DT':")
print(data['DT'].isnull().sum())

# 2. Bảng tần số, tần suất
print("\nBảng tần số và tần suất của cột 'DT':")
print(data['DT'].value_counts())

# 3. Số lượng giá trị riêng biệt
print("\nSố lượng giá trị riêng biệt trong cột 'DT':")
print(data['DT'].nunique())

# 4. Điền giá trị thiếu bằng 0
data['DT'] = data['DT'].fillna(0)

# Kiểm tra lại sau khi điền
print("\nKiểm tra lại dữ liệu thiếu sau khi điền:")
print(data['DT'].isnull().sum())

Thống kê dữ liệu thiếu cho cột 'DT':
97

Bảng tần số và tần suất của cột 'DT':
DT
1.0    2
6.0    1
Name: count, dtype: int64

Số lượng giá trị riêng biệt trong cột 'DT':
2

Kiểm tra lại dữ liệu thiếu sau khi điền:
0

5. Thống kê dữ liệu thiếu cho biến T1 và hiệu chỉnh dữ liệu, lưu ý việc thay thế dữ liệu thiếu sử 
dụng phương pháp Mean.

In [6]:
import pandas as pd

# Giả sử dữ liệu của bạn được lưu trong file CSV tên là 'dulieuxettuyendaihoc.csv'
data = pd.read_csv('dulieuxettuyendaihoc.csv')

# Thống kê dữ liệu thiếu cho cột 'T1'
print("Thống kê dữ liệu thiếu cho cột 'T1':")
print(data['T1'].isnull().sum())

# Bảng tần số, tần suất
print("\nBảng tần số và tần suất của cột 'T1':")
print(data['T1'].value_counts())

# Số lượng giá trị riêng biệt
print("\nSố lượng giá trị riêng biệt trong cột 'T1':")
print(data['T1'].nunique())

# Tính giá trị Mean của cột 'T1'
mean_t1 = data['T1'].mean()

# Điền giá trị thiếu bằng giá trị Mean
data['T1'] = data['T1'].fillna(mean_t1)

# Kiểm tra lại sau khi điền
print("\nKiểm tra lại dữ liệu thiếu sau khi điền:")
print(data['T1'].isnull().sum())

# In ra một vài giá trị đã được thay thế để kiểm tra
print("\nMột vài giá trị đã được thay thế:")
print(data['T1'].head(10))

Thống kê dữ liệu thiếu cho cột 'T1':
0

Bảng tần số và tần suất của cột 'T1':
T1
5.2    5
7.3    5
5.3    5
6.0    4
7.2    4
7.9    4
4.9    3
5.4    3
5.0    3
8.2    3
6.5    3
5.5    3
6.3    3
8.8    2
7.1    2
8.3    2
6.4    2
3.6    2
8.1    2
6.6    2
5.6    2
5.7    2
5.8    2
3.0    2
5.1    2
9.3    1
3.9    1
2.5    1
2.8    1
2.4    1
3.4    1
4.3    1
4.4    1
4.7    1
4.5    1
2.6    1
7.6    1
6.7    1
6.9    1
6.1    1
7.0    1
6.2    1
4.6    1
4.2    1
7.5    1
4.8    1
5.9    1
8.4    1
7.8    1
8.6    1
3.7    1
2.7    1
4.1    1
Name: count, dtype: int64

Số lượng giá trị riêng biệt trong cột 'T1':
53

Kiểm tra lại dữ liệu thiếu sau khi điền:
0

Một vài giá trị đã được thay thế:
0    7.2
1    5.4
2    5.6
3    6.6
4    6.0
5    9.3
6    2.8
7    8.3
8    6.5
9    7.3
Name: T1, dtype: float64

6. Hãy thực hiện xử lý lần lượt tất cả dữ liệu thiếu cho các biến về điểm số còn lại.

In [7]:
import pandas as pd
import numpy as np

# Đọc dữ liệu từ file CSV
data = pd.read_csv("dulieuxettuyendaihoc.csv")

# Danh sách các cột điểm số cần xử lý
diem_so_cols = ['L1', 'H1', 'S1', 'V1', 'X1', 'D1', 'N1', 
                'L2', 'H2', 'S2', 'V2', 'X2', 'D2', 'N2',
                'L6', 'H6', 'S6', 'V6', 'X6', 'D6', 'N6']

# Xử lý dữ liệu thiếu bằng phương pháp Mean cho từng cột
for col in diem_so_cols:
    mean_col = data[col].mean()
    data[col] = data[col].fillna(mean_col)

# Kiểm tra lại dữ liệu thiếu
print(data[diem_so_cols].isnull().sum())

L1    0
H1    0
S1    0
V1    0
X1    0
D1    0
N1    0
L2    0
H2    0
S2    0
V2    0
X2    0
D2    0
N2    0
L6    0
H6    0
S6    0
V6    0
X6    0
D6    0
N6    0
dtype: int64

7. Tạo các biến TBM1, TBM2, TBM3 tương ứng với trung bình môn của các năm lớp 10, 11 và 
12

In [8]:
data['TBM1'] = (data['T1']*2 + data['L1'] + data['H1'] + data['S1'] + 
                data['V1']*2 + data['X1'] + data['D1'] + data['N1']) / 10
data['TBM2'] = (data['T2']*2 + data['L2'] + data['H2'] + data['S2'] + 
                data['V2']*2 + data['X2'] + data['D2'] + data['N2']) / 10
data['TBM3'] = (data['T6']*2 + data['L6'] + data['H6'] + data['S6'] + 
                data['V6']*2 + data['X6'] + data['D6'] + data['N6']) / 10

print(data[['TBM1', 'TBM2', 'TBM3']].head())

   TBM1  TBM2  TBM3
0  7.00  7.54  7.01
1  4.69  5.47  5.07
2  5.77  5.38  6.04
3  6.21  5.20  6.88
4  6.50  6.36  6.99

8. Tạo các biến xếp loại XL1, XL2 và XL3 dựa trên TBM1,TBM2 và TBM3 cho từng năm lớp 
10, 11, 12 như sau: 

• Nhỏ hơn 5.0 xếp loại: yếu (kí hiệu là Y) 

• Từ 5.0 đến dưới 6.5: trung bình (kí hiệu là TB) 

• Từ 6.5 đến dưới 8.0: khá (kí hiệu là K) 

• Từ 8.0 đến dưới 9.0: giỏi (kí hiệu là G) 

• Từ 9.0 trở lên: xuất sắc (kí hiệu là XS)

In [9]:
def xep_loai(diem):
    if diem < 5.0:
        return 'Y'
    elif diem < 6.5:
        return 'TB'
    elif diem < 8.0:
        return 'K'
    elif diem < 9.0:
        return 'G'
    else:
        return 'XS'

data['XL1'] = data['TBM1'].apply(xep_loai)
data['XL2'] = data['TBM2'].apply(xep_loai)
data['XL3'] = data['TBM3'].apply(xep_loai)

print(data[['XL1', 'XL2', 'XL3']].head())

  XL1 XL2 XL3
0   K   K   K
1   Y  TB  TB
2  TB  TB  TB
3  TB  TB   K
4   K  TB   K

9. Tạo các biến US_TBM1, US_TBM2 và US_TBM3 để chuyển điểm trung bình các năm lớp 
10, 11 và 12 từ thang điểm 10 của Việt Nam sang thang điểm 4 của Mỹ. Sử dụng phương 
pháp Min-Max Normalization

In [10]:
def min_max_normalize(value, min_val, max_val):
    return (value - min_val) / (max_val - min_val) * 4

data['US_TBM1'] = data['TBM1'].apply(lambda x: min_max_normalize(x, data['TBM1'].min(), data['TBM1'].max()))
data['US_TBM2'] = data['TBM2'].apply(lambda x: min_max_normalize(x, data['TBM2'].min(), data['TBM2'].max()))
data['US_TBM3'] = data['TBM3'].apply(lambda x: min_max_normalize(x, data['TBM3'].min(), data['TBM3'].max()))

print(data[['US_TBM1', 'US_TBM2', 'US_TBM3']].head())

    US_TBM1   US_TBM2   US_TBM3
0  2.930693  3.029126  2.537143
1  0.643564  1.019417  0.320000
2  1.712871  0.932039  1.428571
3  2.148515  0.757282  2.388571
4  2.435644  1.883495  2.514286

10. Tạo biến kết quả xét tuyển (kí hiệu là KQXT) nhằm xác định sinh viên đậu (giá trị “1”) và 
rớt ( giá trị “0”) vào các khối dựa trên điểm DH1, DH2 và DH3 như sau 

• Với khối A, A1 nếu [(DH1*2 + DH2 + DH3)/4] lớn hơn hoặc bằng 5.0 thì đậu, 
ngược lại là rớt 

• Với khối B nếu [(DH1 + DH2*2 + DH3)/4] lớn hơn hoặc bằng 5.0 thì đậu, ngược 
lại là rớt 

• Với khối khác nếu [(DH1+ DH2 + DH3)/3] lớn hơn hoặc bằng 5.0 thì đậu, ngược 
lại là rớt

In [11]:
def xet_tuyen(row):
    if row['KT'] in ['A', 'A1']:
        if (row['DH1']*2 + row['DH2'] + row['DH3']) / 4 >= 5.0:
            return 1
        else:
            return 0
    elif row['KT'] == 'B':
        if (row['DH1'] + row['DH2']*2 + row['DH3']) / 4 >= 5.0:
            return 1
        else:
            return 0
    else:
        if (row['DH1'] + row['DH2'] + row['DH3']) / 3 >= 5.0:
            return 1
        else:
            return 0

data['KQXT'] = data.apply(xet_tuyen, axis=1)

print(data[['KT', 'DH1', 'DH2', 'DH3', 'KQXT']].head())

   KT   DH1   DH2   DH3  KQXT
0  A1  3.25  3.25  4.50     0
1   C  6.00  4.00  3.50     0
2   C  5.00  6.75  4.00     1
3  D1  4.25  4.25  5.25     0
4   A  4.25  4.50  5.00     0